
  
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 100px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}
h1{
    font-size: 45px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(60deg, lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
}
.burger{
    background-image: url(images/Shape/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
h2{
    font-size: 40px;
}



body{

    margin: 10px;
    padding: 10px;
}

.main{
     display:flex;
     .top{
         text-emphasis-position: margin-top: ;;;
     }
}
.cards{ 
 
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    background-color: rgb(202, 223, 231);

      border-radius:10px;
      box-shadow: 2px 2px 2px 2px black;
}  

.image img{
    width:200px;



}
.title{

    text-align: center;
    margin-top: 10px;
}
.des{ text-align: center;
}




.cards1{ 
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    background-color: rgb(202, 223, 231);

      border-radius:10px;
      box-shadow: 2px 2px 2px 2px black;
}  

.image1 img{
    width:200px;



}
.title1{

    text-align: center;
    margin-top: 10px;
}
.des1{ text-align: center;
}



.cards2{ 
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    background-color: rgb(202, 223, 231);

      border-radius:10px;
      box-shadow: 2px 2px 2px 2px black;
}  

.image2 img{
    width:200px;
    



}
.title2{

    text-align: center;
    margin-top: 5px;
}
.des2{ text-align: center;
}
footer{ background:mediumseagreen;
background-position: 300px;}
.orange{ color: tomato;}
